statemachine/contacts_report.asl.json
{
  "Comment": "A state machine that generates contacts report and send by email.",
  "StartAt": "Data-Loader",
  "States": {
      "Data-Loader": {
          "Type": "Task",
          "Resource": "${DataLoaderFunctionArn}",
          "Retry": [
              {
                  "ErrorEquals": [
                      "States.TaskFailed"
                  ],
                  "IntervalSeconds": 15,
                  "MaxAttempts": 5,
                  "BackoffRate": 1.5
              }
          ],
          "Next": "Data-Exists"
      },
      "Data-Exists": {
          "Type": "Choice",
          "Choices": [
              {
                  "Variable": "$.statusCode",
                  "NumericEquals": 200,
                  "Next": "Report-Generator"
              }
          ],
          "Default": "Notification-Sender"
      },
      "Report-Generator": {
          "Type": "Task",
          "Resource": "${ReportGeneratorFunctionArn}",
          "Retry": [
              {
                  "ErrorEquals": [
                      "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 1
              }
          ],
          "Next": "Notification-Sender"
      },
      "Notification-Sender": {
          "Type": "Task",
          "Resource": "${NotificationSenderFunctionArn}",
          "Retry": [
              {
                  "ErrorEquals": [
                      "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 1
              }
          ],
          "End": true
      }
  }
}